@font-face {
  font-family: "Nintendo";
  src: url('./PressStart2P-vaV7.ttf');
}

@font-face {
  font-family: "Martel";
  src: url('./Martel-Regular.ttf');
}

@font-face {
  font-family: "Cozette";
  src: url('./CozetteVector.ttf');
}

/* COLORS
 * Vista blue - #8EA4D2
 * Glaucous blue - #6279B8
 * YlnMn blue - #49516F
 * hooker's green - #496F5D
 * shamrock green - #4C9F70
 */

/* PROJECT WIDE */
body {
  margin: 2rem 0rem 2rem 0rem;
  font-family: 'Cozette';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

main {
  width: 70%;
}

.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Cozette";
  color: #6279B8;
}

p {
  line-height: 2;
}

.jumbo {
  text-align: center;
  border-radius: 0.25rem;
  padding: 1rem;
  border: 2px solid #6279B8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: fit-content;
}

/* NAVIGATION */
.nav {
  margin-bottom: 2rem;
}

.nav-item {
  font-weight: bold;
  color: #8EA4D2;
  text-decoration: underline #6279B8 2px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-item:hover {
  color: #6279B8;
  text-decoration-color: #8EA4D2;
}

/* REVIEWS */
.rbody {
  padding: 0rem 5rem 0rem 5rem;
  text-align: left;
  margin-top: 4rem;
}

.soundbite {
  border-radius: 0.25rem;
  padding: 1rem;
  border: 2px solid #6279B8;
}

.cover {
  height: 25%;
  width: 25%;
}